<% content_for :title do %>Schedules<% end %>

<table>
	<tr>
		<th>Name</th>
	</tr>

<% @schedules.each do |schedule| %>
	<tr>
		<td><%= link_to schedule.name, schedule %></td>
		<td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
		<td><%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
<% end %>	
</table>