<% content_for :title do %>Schedule Builder<% end %>

<b>Add sections by CRN</b>

<form name="input" method="get">
CRN: <input type="text" name="CRN">
<input type="submit" value="Submit">
</form> 

<br />

<table>
<tr>
	<th>Department</th>
	<th>Course Number</th>
	<th>Section</th>
</tr>
<tr>
<form name="input1" method="get">
	<td><input class="typeahead" type="text" id="Department" name="Department"></td>
	<td><input class="typeahead" type="text" name="Course Number"></td>
	<td><input class="typeahead" type="text" name="Section"></td>
</tr>
<tr>
	<td colspan = 3><input type="submit" value="Submit"></td>
</tr>
</form>
</table>

<%= javascript_include_tag "builder" %>

<br />
