<div>
  <h2>Welcome to Schedule Miner!</h2>
  <!-- <div class="row"><h2 class="large-12 columns">Schedule Miner</h2></div> -->
  <div>
    <p>If you have not visited us before, you can begin by logging in with your mines.edu address at the right.</p>
    <p>You can then begin building your perfect schedule using the links at the top. </p>
  </div>
</div>
