<div class="row">
  <% if @unknown_buildings.count || @unknown_departments.count %>
    <% if @unknown_buildings.count %>
      <div class="alert-box alert">Unknown buildings: <%= @unknown_buildings.keys.sort.join(', ') %></div>
    <% end %>

    <% if @unknown_departments.count %>
      <div class="alert-box alert">Unknown departments: <%= @unknown_departments.keys.sort.join(', ') %></div>
    <% end %>
  <% end %>

  <h2 class="small-5 large-12 centered columns">Schedule Miner</h2>

  <div>
    <p> Classes updated. </p>
  </div>
</div>
