<% content_for :title do %>Teachers<% end %>

<% teachers_chunked = @teachers.group_by {|teacher| teacher.name.split[-1][0]} %>

<% teachers_chunked.keys.sort.each do |letter| %>

  <div class="container">
  <div class="row">
  <h2 class="col-md-1"><%= letter.upcase %></h2>
  <!-- <ul class="large-block-grid-4"> -->
    <flexcontainer>
      <% teachers_chunked[letter].each do |teacher| %>
        <span class="badge pull-radius"><%= teacher.sections.count %></span> <%= link_to teacher.name, teacher_path(teacher) %>
      <% end %>
    </flexcontainer>
  <!-- </ul> -->
  </div>
  </div>
<% end %>

<br />

<%= link_to 'New Teacher', new_teacher_path, class: "button radius" %>
