<% content_for :title do %>Teachers<% end %>

<% teachers_chunked = @teachers.group_by {|teacher| teacher.name[0]} %>

<% teachers_chunked.keys.each do |letter| %>
  <h2><%= letter.upcase %></h2>

  <ul class="large-block-grid-4">
    <% teachers_chunked[letter].each do |teacher| %>
      <li><%= link_to teacher.name, teacher_path(teacher) %> <span class="label secondary radius"><%= teacher.sections.count %></span></li>
    <% end %>
  </ul>
<% end %>

<br />

<%= link_to 'New Teacher', new_teacher_path, class: "button radius" %>
