<%if user_has? :admin %>
<% content_for :title do %>Editing course<% end %>


<%= render 'form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
<% else %>
<h1 style="text-align: center">PERMISSION DENIED</h1>
<p style="text-align: center">You do not have permission to view this page</p>
<% end %>