/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree .
*/

/*@import "bootstrap";*/

// $navbar-default-bg: #287571;
$navbar-default-bg: #2c343f;
// $navbar-default-link-color: #41CCB6;
$navbar-default-link-color: #536B8B;
$navbar-default-link-hover: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-brand-color: #fff;

$navbar-border-radius: 0;

@import "bootstrap-custom";