/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree .
*/

/*@import "bootstrap";*/

// $navbar-default-bg: #287571;
$navbar-default-bg: #2c343f;
// $navbar-default-link-color: #41CCB6;
$navbar-default-color: #b0b0b0;
$navbar-default-link-color: #93ABCB;
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 20%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 3%);
$navbar-default-link-active-color: #fff;
$navbar-default-brand-color: #fff;



$navbar-border-radius: 0;

@import "bootstrap-custom";

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}

.teacher-button {
  display: inline-block;
  margin: 5px 1px 5px 1px;
}

.top-buffer {margin-top: 20px;}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

search_button input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
search_button input[type=search]:hover {
	background-color: #fff;
}
search_button input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
search_button input:-moz-placeholder {
	color: transparent;
}
search_button input::-webkit-input-placeholder {
	color: transparent;
}
