// Place all the styles related to the departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.departments {
  border-collapse: collapse;
  border-color: #537DB9;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 15px;
}

.departments caption {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}

.departments th {
  text-transform: inherit;
  white-space: nowrap;
  background-color: #3366CC;
  color: #FFFFFF;
  padding: 2px 10px 2px 10px;
  border-right: #FFFFFF;
  border-width: 1px;
  border-style: none dotted none none;
}

.departments td {
  padding: 5px 10px 5px 10px;
  border-right: #cccccc;
  border-width: 1px;
  border-style: none dotted none none;
  vertical-align: top;
}

.departments tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.departments tr:nth-child(even) {
  background-color: #E6E6E6;
}


//This is for the pop-up to add schedules
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 5px;
        border: 5px solid blue;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }