// NOTE: Anything that affects the vertical size of sections or slots in the calendar must be put in
// the CoffeeScript, so it can use it to calculate the needed time/pixel scaling.

#section-calendar {
  background: #FFFFFF;
  position: relative;
}

.section-calendar-slot {
  position: absolute;
}

.section-calendar-contents {
  background: white;
  border: 1px solid #DDD;
  box-shadow: -5px 0 5px rgba(248, 248, 248, 1.0);
  height: 100%;
  padding: 0 5px;
  overflow: hidden;
}

.section-calendar-contents ol {
  margin: 0;
  padding: 0;
}

.section-calendar-contents li {
  display: block;
  font-size: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0 5px;
}
